venv/
.env
.venv/
__pycache__/
test.py
migrations/
data/*
faiss_index_dir/*
playground.ipynb
runs/
vector_store/*
data
/vector_store
tes.ipynb
uploads/*
notes
weights/*
barcode.png
yolov8n-pose.pt
open_vino.ipynb
new.py
obj_detection_vino.py
remote.jumpserver.pem
None
