<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GuideBot Chat</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap">
    <style>
      body {
        font-family: 'Inter', sans-serif;
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
      <h1 class="text-3xl font-bold text-gray-800">GuideBot 🤖️</h1>
      <div class="chat-container mt-6 space-y-4">
        <div class="flex justify-start">
            <div class="bg-gray-200 text-gray-800 p-4 rounded-lg shadow flex items-center space-x-2">
              <span class="material-icons">smart_toy</span>
              <pre class="whitespace-pre-wrap font-medium font-sans">{{ generated[0] }}</pre>
            </div>
          </div>
        {% for i in range(past|length) %}
        <div class="flex justify-end">
          <div class="bg-blue-100 text-blue-800 p-4 rounded-lg shadow flex items-center space-x-2">
            <span class="material-icons">person</span>
            <span>{{ past[i] }}</span>
          </div>
        </div>
        <div class="flex justify-start">
          <div class="bg-gray-200 text-gray-800 p-4 rounded-lg shadow flex items-center space-x-2">
            <span class="material-icons">smart_toy</span>
            <pre class="whitespace-pre-wrap font-medium font-sans">{{ generated[i+1] }}</pre>
          </div>
        </div>
        {% endfor %}
      </div>
      <form method="POST" class="mt-6">
        <div class="flex">
          <input
            type="text"
            name="user_input"
            class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring focus:ring-blue-200"
            placeholder="Ask me something..."
          />
          <button
            class="ml-4 px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 transition duration-300"
            type="submit"
          >
            Send
          </button>
        </div>
      </form>
    </div>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </body>
</html>
