<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.10.2/dist/cdn.min.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  {% block styles %}{% endblock %}
</head>

<body class="bg-gray-100">
  <!-- Header -->
  <header class="fixed top-0 left-0 right-0 bg-white shadow-md z-50 h-16 flex items-center justify-between px-6">
    <!-- Logo and App Name -->
    <div class="flex items-center">
      <div id="logo" class="text-xl font-semibold">
        <img src="/static/img/spil_logo.svg" alt="Logo" class="h-8" />
      </div>
      <!-- Span App Name -->
      <span class="text-2xl font-bold ml-2 tracking-wide">QHSE</span>
    </div>

    <!-- Running Text -->
    <div class="marquee text-blue-600 font-semibold text-lg">
      <marquee direction="left" scrollamount="12">
        Quality, Health, Safety, and Environment - Salam Pacific Indonesia
        Lines
      </marquee>
    </div>

    <!-- User Profile & Notifications -->
    <div class="flex items-center space-x-4">
      <!-- Notifications Icon -->
      <div class="relative">
        <i class="fas fa-bell text-gray-600 hover:text-gray-800 cursor-pointer"></i>
        <span class="absolute top-0 right-0 inline-block w-2 h-2 bg-red-600 rounded-full"></span>
      </div>

      <!-- User Profile -->
      <div class="flex items-center space-x-2">
        <img src="/static/img/corporate-user-icon.png" alt="User Avatar" class="w-8 h-8 rounded-full" />
        <!-- <span class="text-gray-700 font-medium">John Doe</span> -->
        <span class="text-gray-700 font-medium">{{ current_user.name }}</span>
        <!-- Logout Button -->
        <a href="{{ url_for('auth.logout') }}" class="logout-button">Logout</a>
      </div>

    </div>
  </header>

  <!-- Sidebar -->
  <div class="flex pt-16">
    <aside id="sidebar"
      class="fixed top-16 left-0 h-full bg-red-800 text-white w-64 space-y-6 py-7 px-2 transition-transform transform -translate-x-full md:translate-x-0">
      <nav class="mt-4">

        <!-- Master Menu -->
        <div x-data="{ open: false }">
          <a href="#" @click.prevent="open = !open"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center">
            <i class="fas fa-bars mr-3"></i>
            Master Menu
            <span :class="open ? 'rotate-90' : 'rotate-0'"
              class="inline-block transform transition-transform duration-200 ml-auto">
              >
            </span>
          </a>

          <!-- Dropdown: Master Menu -->
          <div x-show="open" class="pl-10">

            <!-- CCTV -->
            <a href="{{ url_for('main.manage_cctv') }}"
              class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center">
              <i class="fas fa-video mr-3"></i>
              CCTV
            </a>

            <!-- Object Detection -->
            <div x-data="{ open: false }">
              <a href="#" @click.prevent="open = !open"
                class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center">
                <i class="fas fa-bullseye mr-3"></i>
                Object Detection
                <span :class="open ? 'rotate-90' : 'rotate-0'"
                  class="inline-block transform transition-transform duration-200 ml-auto">
                  >
                </span>
              </a>
              <!-- Dropdown: Model -->
              <div x-show="open" class="pl-10">
                <a href="{{ url_for('main.manage_model') }}"
                  class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center">
                  <i class="fas fa-cube mr-3"></i>
                  Model
                </a>
                <a href="{{ url_for('main.manage_detector') }}"
                  class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center">
                  <i class="fas fa-crosshairs mr-3"></i>
                  Detector
                </a>
                <a href="{{ url_for('main.manage_contact') }}"
                  class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center">
                  <i class="fas fa-address-book mr-3"></i>
                  Contact
                </a>
                <a href="{{ url_for('main.manage_message') }}"
                  class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center">
                  <i class="fas fa-envelope mr-3"></i>
                  Message
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Report -->
        <div x-data="{ open: false }">
          <a href="#" @click.prevent="open = !open"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center">
            <i class="fas fa-chart-line mr-3"></i>
            Report
            <span :class="open ? 'rotate-90' : 'rotate-0'"
              class="inline-block transform transition-transform duration-200 ml-auto">
              >
          </a>

          <!-- Dropdown: Report -->
          <div x-show="open" class="pl-10">
            <a href="{{ url_for('main.dashboard') }}"
              class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center">
              <i class="fas fa-tachometer-alt mr-3"></i>
              Dashboard
            </a>
            <a href="{{ url_for('main.detected_object') }}"
              class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center">
              <i class="fas fa-object-group mr-3"></i>
              Detected Object
            </a>
          </div>
        </div>

        <!-- Master Chatbot -->
        <div x-data="{ open: false }">
          <a href="#" @click.prevent="open = !open"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center">
            <i class="fas fa-robot mr-3"></i>
            Master Chatbot
            <span :class="open ? 'rotate-90' : 'rotate-0'"
              class="inline-block transform transition-transform duration-200 ml-auto">
              >
            </span>
          </a>

          <!-- Dropdown: Master Chatbot -->
          <div x-show="open" class="pl-10">
            <a href="{{ url_for('guide_bot.manage_documents') }}"
              class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center">
              <i class="fas fa-file-alt mr-3"></i>
              Documents
            </a>
            <a href="{{ url_for('guide_bot.chat') }}"
              class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center">
              <i class="fas fa-comments mr-3"></i>
              Chatbot
            </a>
          </div>
        </div>

        <!-- AIOS -->
        <a href="{{ url_for('aios.index') }}"
          class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center">
          <i class="fas fa-comments mr-3"></i>
          AIOS
        </a>
    </aside>
  </div>

  <!-- Main Content -->
  <main class="flex-1 p-10 ml-64">{% block content %}{% endblock %}</main>

  <!-- Block Modal -->
  {% block modals %}{% endblock %}


  <!-- Toggle Button for Sidebar -->
  <button id="sidebarToggle" class="fixed top-16 left-0 z-50 m-4 p-2 bg-gray-800 text-white rounded-md md:hidden">
    >
  </button>

  {% block scripts %}
  <script>
    const sidebar = document.getElementById("sidebar");
    const toggleButton = document.getElementById("sidebarToggle");

    toggleButton.addEventListener("click", () => {
      sidebar.classList.toggle("-translate-x-full");
    });
  </script>
  {% endblock %}
</body>

</html>