{% extends "base.html" %} {% block title %}Edit CCTV{% endblock %} {% block
content %}
<div class="container mx-auto mt-0 p-6 bg-white shadow-md rounded-md">
  <h2 class="text-2xl font-semibold mb-6">{{ title }}</h2>

  <form method="POST" action="" class="space-y-4">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.location.label(class="block text-gray-700 font-medium mb-2") }} {{
      form.location(class="block w-full px-4 py-2 border rounded-lg shadow-sm
      focus:outline-none focus:ring-2 focus:ring-blue-500") }}
    </div>

    <div class="form-group">
      {{ form.ip_address.label(class="block text-gray-700 font-medium mb-2") }}
      {{ form.ip_address(class="block w-full px-4 py-2 border rounded-lg
      shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500") }}
    </div>

    <div class="form-group">
      {{ form.type.label(class="block text-gray-700 font-medium mb-2") }} {{
      form.type(class="block w-full px-4 py-2 border rounded-lg shadow-sm
      focus:outline-none focus:ring-2 focus:ring-blue-500") }}
    </div>

    <div class="form-group">
      {{ form.status.label(class="block text-gray-700 font-medium mb-2") }} {{
      form.status(class="block w-full px-4 py-2 border rounded-lg shadow-sm
      focus:outline-none focus:ring-2 focus:ring-blue-500") }}
    </div>

    <button
      type="submit"
      class="w-full py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 transition duration-300"
    >
      {{ form.submit.label }}
    </button>
  </form>
</div>
{% endblock %}
